<template name="survey_1">
{{afterLoad}}
<div class="demo-cards mdl-shadow--2dp mdl-grid survey-container">
	<div class="mdl-cell mdl-cell--8-col">
		<h2>{{_ "survey.1.title"}}</h2>
	</div>
	<div class="mdl-cell mdl-cell--8-col">
		<form class="survey" action="#">
			{{#each question in questions}}
			<div>
				<span class="mdl-typography--headline survey-question">{{question.question}}</span>
				<div class="survey-options-container">
					{{#each option in question.options}}
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{question.id}}_{{option.value}}">
						<input type="radio" id="{{question.id}}_{{option.value}}" class="mdl-radio__button" name="{{question.id}}" value="{{option.value}}" checked>
						<span class="mdl-radio__label">{{option.label}}</span>
					</label>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</form>
	</div>
	<div class="mdl-cell mdl-cell--8-col">
		<button id="survey-submit-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect center-block">
		{{_ "survey.submit"}}
		</button>
	</div>
</div>
</template>