<template name="survey_1">
{{afterLoad}}
<div class="demo-cards mdl-shadow--2dp mdl-grid survey-container">
	<div class="mdl-cell mdl-cell--8-col">
		<h2>{{_ "survey.1.title"}}</h2>
	</div>
	<div class="mdl-cell mdl-cell--8-col">
		<form class="survey" action="#">
			<div>
				<span class="mdl-typography--headline survey-question">Very long question, used to understand how to format the survey, also with multiline questions.</span>
				<div class="survey-options-container">
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="test-1-1">
						<input type="radio" id="test-1-1" class="mdl-radio__button" name="test-1" value="1" checked>
						<span class="mdl-radio__label">One</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="test-1-2">
						<input type="radio" id="test-1-2" class="mdl-radio__button" name="test-1" value="2">
						<span class="mdl-radio__label">Two</span>
					</label>
				</div>
			</div>
			<div>
				<span class="mdl-typography--headline survey-question">Very long question, used to understand how to format the survey, also with multiline questions.</span>
				<div class="survey-options-container">
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="test-2-1">
						<input type="radio" id="test-2-1" class="mdl-radio__button" name="test-2" value="1" checked>
						<span class="mdl-radio__label">One</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="test-2-2">
						<input type="radio" id="test-2-2" class="mdl-radio__button" name="test-2" value="2">
						<span class="mdl-radio__label">Two</span>
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--8-col">
		<button id="survey-submit-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect center-block">
		{{_ "survey.submit"}}
		</button>
	</div>
</div>
</template>