/* CSS declarations go here */

.main-logo {
	border: 1px white solid;
    border-radius: 200px;
}

.navigation-icon {
	margin-right: 20px;
}

header .progress {
	color: black;
    margin: 0 !important;
}