<template name="leaderboard">
<!-- List items with avatar and action -->
<div class="demo-list-action mdl-list">
	{{#if showSurveyButton}}
	<!-- Colored FAB button with ripple -->
	<button id="leaderboard-survey-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	<i class="material-icons">send</i>
	</button>
	<span class="mdl-tooltip" for="leaderboard-survey-button">Survey</span>
	{{/if}}
	{{#each player in players}}
	<div class="mdl-list__item demo-cards {{#if isCurrentPlayer player}}mdl-color--grey-200 {{#if isFullEnvironment}}mdl-shadow--16dp{{else}}mdl-shadow--2dp{{/if}}{{else}}mdl-shadow--2dp{{/if}} mdl-card leaderboard-card {{#if isFullEnvironment}}{{else}}leaderboard-no-margin{{/if}}">
		<span class="mdl-list__item-primary-content leaderboard-rank">
			<span class="mdl-typography--title leaderboard-rank-counter leaderboard-rank-counter-{{incremented @index}}">{{incremented @index}}</span>
			{{#if isFullEnvironment}}
			<i class="material-icons mdl-list__item-avatar">person</i>
			{{/if}}
			<div class="mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<span>{{player.name.address}}</span>
				</span>
				<span class="mdl-list__item-secondary-content coin-row">
					{{> my_points player=player isFullEnvironment=isFullEnvironment}}
				</span>
			</div>
		</span>
		{{#if isFullEnvironment}}
			{{#if polePosition @index}}
				<img class="leaderboard-rank-image-{{incremented @index}}" src="/images/pole-{{incremented @index}}.svg" />
			{{/if}}
		{{/if}}
	</div>
	<div class="demo-separator mdl-cell--1-col"></div>
	{{/each}}
</div>
{{> dialog dialog-classe="dialog-large" dialog_id="leaderboard_final_dialog" close_button_id="leaderboard_final_close_button" title=leaderboardFinalDialogTitle hide_ok_button="true" message=leaderboardFinalDialogMessage close_message=leaderboardFinalDialogClose}}
</template>