<template name="setup">
<div>
	<div>
		<span class="mdl-typography--display-1">Mail Package</span>
		<div class="setup-buttons-container">
			<button id="send-mail-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect center-block">
			Send test mail
			</button>
		</div>
	</div>
	<div>
		<span class="mdl-typography--display-1">Players setup</span>
		<div class="setup-buttons-container">
			<!-- Raised button with ripple -->
			<button id="create-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect center-block">
			Create new mock data
			</button>
			<button id="clear-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect center-block">
			Clear mock data
			</button>
		</div>
	</div>
	<div>
		<span class="mdl-typography--display-1">Players list</span>
		<div class="setup-buttons-container">
			{{#each player in players}}
			<div class="mdl-list__item demo-cards mdl-shadow--2dp mdl-card" style="display: block">
				<h5>{{player.name.address}}</h5>
				<h6>Total Score: {{player.totalScore}}</h6>
			</div>
			{{/each}}
		</div>
	</div>
</div>
</template>