/** Leaderboard rank pole position cards */
.leaderboard-rank-image-1 {
  width: 80px;
}

.leaderboard-rank-image-2 {
  width: 60px;
  padding: 0 10px;
}

.leaderboard-rank-image-3 {
  width: 40px;
  padding: 0 20px;
}

.leaderboard-rank-counter {
  padding-right: 20px;
  width: 20px;
}

.leaderboard-rank-counter-1 {
  color: #ffc107 !important;
}

.leaderboard-rank-counter-2 {
  color: #bdbdbd !important;
}

.leaderboard-rank-counter-3 {
  color: #d84315 !important;
}

/** Leaderboard card */
.leaderboard-card {
  width: initial !important;
  margin-bottom: 5px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.leaderboard-rank {
  margin: auto;
}

.leaderboard-no-margin {
  margin: 0 !important;
}

.coin-row {
  display: block !important;
}

#leaderboard-survey-button {
  position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    z-index: 900;
}

.fatality-dialog {
  width: 430px !important;
}