<template name="leaderboard">
<!-- List items with avatar and action -->
<div class="demo-list-action mdl-list">
	{{#each player in players}}
	<div class="mdl-list__item demo-cards mdl-shadow--2dp mdl-card leaderboard-card {{#if isCurrentPlayer player}}leaderboard-rank-current{{/if}}">
		<span class="mdl-list__item-primary-content leaderboard-rank">
			<span class="mdl-typography--title leaderboard-rank-counter leaderboard-rank-counter-{{incremented @index}}">{{incremented @index}}</span>
			<i class="material-icons mdl-list__item-avatar">person</i>
			<span>{{player.name.address}}</span>
		</span>
		{{#if polePosition @index}}
		<img class="leaderboard-rank-image-{{incremented @index}}" src="/images/pole-{{incremented @index}}.svg" />
		{{/if}}
		{{#if false}}
		<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
		{{/if}}
	</div>
	<div class="demo-separator mdl-cell--1-col"></div>
	{{/each}}
</div>
</template>