<template name="register">
{{afterLoad}}
<div class="demo-cards mdl-shadow--2dp mdl-card mdl-grid">
	<div class="mdl-grid">
		<h2>{{_ "register.title"}}</h2>
	</div>
	<div class="mdl-grid">
		<form class="register" action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="email" name="email">
				<label class="mdl-textfield__label" for="email">Email</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" name="password">
				<label class="mdl-textfield__label" for="password">Password</label>
			</div>
			<div class="mdl-grid">
				<!-- Raised button with ripple -->
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect center-block">
				{{_ "register.title"}}
				</button>
			</div>
		</form>
	</div>
	<div class="mdl-grid">
		<button id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect center-block">
		Login
		</button>
	</div>
</div>
</template>