/** Leaderboard rank pole position cards */
.leaderboard-rank-image-1 {
  width: 80px;
}

.leaderboard-rank-image-2 {
  width: 60px;
  padding: 0 10px;
}

.leaderboard-rank-image-3 {
  width: 40px;
  padding: 0 20px;
}

.leaderboard-rank-counter {
  padding-right: 20px;
  width: 20px;
}

.leaderboard-rank-counter-1 {
  color: #ffc107 !important;
}

.leaderboard-rank-counter-2 {
  color: #bdbdbd !important;
}

.leaderboard-rank-counter-3 {
  color: #d84315 !important;
}

/** Leaderboard card */
.leaderboard-card {
  width: initial !important;
  margin-bottom: 5px;
}

.leaderboard-rank {
  margin: auto;
}

.leaderboard-rank-current {
  background: red !important;
}