<template name="hello">
<div>
	<button>Click Me</button>
	<p id="test-animation-id" class="">You've pressed the button {{counter}} times.</p>
	<br>
	{{#each player in players}}
	<div class="mdl-list__item demo-cards mdl-shadow--2dp mdl-card" style="display: block">
		<h5>{{player.name.address}}</h5>
		<h6>Total Score: {{player.totalScore}}</h6>
		<p>
			{{#each score in player.scores}}
			<hr>
			<p>Score:{{score.score}}</p>
			<p>Description:{{score.description}}</p>
			<p>Player:{{score.playerId}}</p>
			{{/each}}
		</p>
	</div>
	<br>
	{{/each}}
</div>
<!-- {{#each players}}
<p>{{name}}</p>
{{/each}} -->
</template>
<template name="info">
<h2>Learn Meteor!</h2>
<ul>
	<li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
	<li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
	<li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
	<li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
</ul>
</template>