<template name="setup">
<div>
	<div class="mdl-grid">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input id="points_input" class="mdl-textfield__input" type="text" name="points">
			<label class="mdl-textfield__label" for="text">User points</label>
		</div>
		<!-- Raised button with ripple -->
		<button id="create-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect center-block">
		Create new mock data
		</button>
		<button id="clear-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect center-block">
		Clear mock data
		</button>
	</div>
	<br>
	{{#each player in players}}
	<div class="mdl-list__item demo-cards mdl-shadow--2dp mdl-card" style="display: block">
		<h5>{{player.name.address}}</h5>
		<h6>Total Score: {{player.totalScore}}</h6>
	</div>
	<br>
	{{/each}}
</div>
</template>